<template>
  <div>
    <now-playing></now-playing>
    <upcoming></upcoming>
    <custom-movie></custom-movie>
    <popular></popular>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {
    'now-playing': () => import(/* webpackChunkName: "NowPlaying" */ "@/components/NowPlaying"),
    'upcoming': () => import(/* webpackChunkName: "Upcoming" */ "@/components/Upcoming"),
    'popular': () => import(/* webpackChunkName: "Popular" */ "@/components/Popular"),
    'custom-movie': () => import(/* webpackChunkName: "CustomMovie" */ "@/components/CustomMovie")
  }
}
</script>
<style lang="scss" scoped>
  .text-original {
    font-family: Montserrat;
    font-size: 18px;
    color: white;
    margin-top: 2em;
  }
  .pricipal-title {
    font-family: RobotoSlab;
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: white;
    margin-top: .1em;
  }
  .btn-play {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    &__space { width: 55px; }
  }
</style>
