<template>
    <v-dialog v-model="modalNewMovie" max-width="730">
      <v-card v-if="!success" class="pa-5">
        <div class="d-flex justify-end ma-n3">
          <v-btn fab x-small text color="#000" @click="modalNewMovie = !modalNewMovie">
            <v-icon dark>mdi-close</v-icon>
          </v-btn>
        </div>
        <div v-if="!uploadFileShow" class="drag-container" @drop.prevent="addFile" @dragover.prevent>
            <input type="file" ref="fileInput" style="display: none;" @change="onFileSelected">
            <v-btn 
                text color="primary" 
                class="custom-transform-class text-none"
                @click="$refs.fileInput.click()"
            > 
                <v-icon left>mdi-cloud-upload</v-icon>
                <span>Agregar archivo</span>
                <span class="grey--text">o arrastrarlo y soltarlo aquí</span>
            </v-btn>
        </div>
        <div v-if="uploadFileShow" class="drag-container-upload">
            <span v-if="!error.show">Cargando {{valueUpload}}%</span>
            <span v-if="error.show"><strong>Error!</strong> {{ error.message }}</span>
            <v-progress-linear
                :color="(error.show) ? 'red' : '#7ed321'"
                rounded
                height="15"
                :value="valueUpload"
                class="my-2"
            ></v-progress-linear>
            <div class="d-flex justify-center">
                <v-btn text width="10em" class="font-weight-bold" @click="removeFile()">CANCELAR</v-btn>
            </div>
        </div>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field v-model="movieName" label="NOMBRE DE LA PELICULA"></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-select v-model="movieCategory" :items="categories" label="CATEGORIAS"></v-select>
          </v-col>
        </v-row>
        <div class="d-flex justify-center mt-5">
          <v-btn 
            :loading="loading"
            :elevation="0" rounded large width="15em"
            class="white--text custom-transform-class text-none"
            color="#000"
            @click="upload()"
          >
            Subir Película
          </v-btn>
        </div>
      </v-card>
      <v-card v-if="success" class="pa-5" color="#7ed321">
        <div class="d-flex justify-end ma-n3">
            <v-btn fab x-small text color="#000" @click="modalNewMovie = !modalNewMovie">
                <v-icon dark>mdi-close</v-icon>
            </v-btn>
        </div>
        <div class="white--text">
            <v-img max-width="95px" src="@/assets/liteflix.png"></v-img>
            <h2 class="text-h4 font-weight-bold mt-10">Felicitaciones!</h2>
            <p><strong>Liteflix The Movie</strong> fue correctamente subido <br> a la categoría <strong>Aventuras</strong></p>
            <v-btn 
                :elevation="0" rounded large width="15em"
                class="white--text custom-transform-class text-none mt-5"
                color="#000"
                @click="close()"
            >
                Cerrar
            </v-btn>
        </div>
      </v-card>
    </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  name: 'NewMovie',
  data()  {
    return {
        loading: false,
        movieName: "",
        movieCategory: '',
        categories: [
            "Acción", "Animación", "Aventuras", "Ciencia Ficción", "Comedia", "Documentales", "Terror"
        ],
        valueUpload: 0,
        uploadFileShow: false,
        uploadFile: null,
        error: {
            show: false,
            message: 'No se pudo cargar la película'
        },
        success: false
    }
  },
  computed: {
    modalNewMovie: {
      get() {
        return this.$store.getters['getModalNewMovie'];
      },
      set(newValue) {
        this.$store.commit('setModalNewMovie', newValue);
      }
    }
  },
  methods: {
    getFile(file) {
        var reader = new FileReader();
        return new Promise((resolve, reject) => {
            reader.onerror = () => { reader.abort(); reject(new Error("Error parsing file"));}
            reader.onload = function () {
                let bytes = Array.from(new Uint8Array(this.result));
                let base64StringFile = btoa(bytes.map((item) => String.fromCharCode(item)).join(""));
                resolve({ 
                    bytes: bytes,
                    base64StringFile: base64StringFile,
                    fileName: file.name, 
                    fileType: file.type
                });
            }
            reader.readAsArrayBuffer(file);
        });
    },
    async addFile(e) {
        this.uploadFile = await this.getFile(e.dataTransfer.files[0]);
        if(this.uploadFile) {
            this.uploadFileShow = true;
        }
    },
    async onFileSelected(e) {
        this.uploadFile = await this.getFile(e.target.files[0]);
        if(this.uploadFile) {
            this.uploadFileShow = true;
        }
    },
    removeFile(){
      this.uploadFile.file = null;
      this.uploadFileShow = false; 
    },
    async upload() {
        try {
            if(this.movieName == "" || this.movieCategory == "") {
                return;
            }
            this.loading = true;
            let data = {
                image: this.uploadFile.base64StringFile,
                name: this.movieName,
                category: this.movieCategory,
                mime: this.uploadFile.fileType
            }
            await axios.post(`${this.$root.serverUrl}/movie`, data, {
                onUploadProgress: event => {
                    this.valueUpload = Math.round(event.loaded / event.total * 100);
                }
            })
            this.loading = false;
            this.success = true;
        }catch(err) {
            console.log(err)
            this.error.show = true;
        }
    },
    getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    },
    close() {
        this.modalNewMovie = false;
        this.uploadFileShow = false;
        this.success = false;
        this.movieName = "";
        this.movieCategory = "";
    }
  }
}
</script>

<style lang="scss" scoped>
    .drag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        margin: 2em 0;
        border-radius: 1em;
        border: dashed 1px #9b9b9b;
    }
    .drag-container-upload {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em;
        margin: 2em 0;
        border-radius: 1em;
        background-color: #f3f3f3;
    }
</style>