<template>
  <div :style="backImage" class="d-flex align-center">
    <v-container class="nowplaying">
      <span class="nowplaying__text-original">ORIGINAL DE <strong>LITEFLIX</strong></span>
      <h2 class="nowplaying__pricipal-title">{{ nowPlaying.title }}</h2>
      <div class="nowplaying__btn-play">
        <span class="nowplaying__btn-play__space"></span>
        <v-btn rounded width="160px" color="rgba(255, 255, 255, 0.1)" class="white--text text-capitalize">
          <v-icon left>mdi-play-outline</v-icon>
          Reproducir
        </v-btn>
        <v-btn rounded width="160px" color="rgba(255, 255, 255, 0.1)" class="ml-5 white--text text-capitalize d-none d-sm-flex">
          <v-icon left>mdi-plus</v-icon>
          Mi Lista
        </v-btn>
        <v-btn fab color="white" outlined small class="d-flex d-sm-none" @click="modalNewMovie = !modalNewMovie">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </div>
      <p class="nowplaying__overview">{{ nowPlaying.overview }}</p>
    </v-container>
  </div>
</template>

<script>
const axios = require('axios')
export default {
  name: 'NowPlaying',
  data () {
    return {
      nowPlaying: {},
      backImage: {
        'background-image': 'linear-gradient(to top, rgba(0, 0, 0, 0.2) 77%, #000000)',
        height: '85vh',
        'background-size': 'cover',
        'background-position': 'center',
        padding: '2em 0'
      }
    }
  },
  computed: {
    modalNewMovie: {
      get() {
        return this.$store.getters['getModalNewMovie'];
      },
      set(newValue) {
        this.$store.commit('setModalNewMovie', newValue);
      }
    }
  },
  mounted () {
    this.getNowPlaying()
  },
  methods: {
    async getNowPlaying () {
      const res = await axios.get(`${this.$root.serverUrl}/movie/nowplaying`)
      this.nowPlaying = res.data
      this.backImage['background-image'] += `, url(${this.$root.urlImagesOriginal}${this.nowPlaying.backdrop_path})`
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '../App';
  .nowplaying {
    display: flex;
    flex-direction: column;
    @include xs { align-items: center; } 
    @include md { align-items: flex-start; } 
    @include lg { align-items: flex-start; } 
    &__text-original {
      font-family: RobotoSlab, serif;
      font-size: 18px;
      color: white;
      margin-top: 2em;
    }
    &__pricipal-title {
      font-family: RobotoSlab;
      font-size: 72px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      color: white;
      margin-top: .1em;
    }
    &__btn-play {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1em 0;
      @include xs { justify-content: space-between; }
      &__space { 
        width: 55px; 
        @include md { display: none; } 
        @include lg { display: none; } 
      }
    }
    &__overview {
      width: 50%;
      margin: 2em 0;
      color: white;
      @include xs { display: none; }
    }
  }
</style>
