<template>
  <v-container class="container-popular">
    <h3 class="white--text my-4 text-h5 font-weight-bold">POPULARES DE LITEFLIX</h3>
    <v-row>
        <v-col cols="6" md="3" v-for="popular in populars" :key="popular.id" class="px-0 py-4 pa-md-3 pa-lg-3">
            <v-card hover tile>
                <v-img :src="`${$root.urlImagesResize}${popular.poster_path}`" class="pa-4"></v-img>
            </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
const axios = require('axios')
export default {
  name: 'popular',
  data () {
    return {
      populars: []
    }
  },
  mounted () {
    this.getMovies()
  },
  methods: {
    async getMovies () {
      const res = await axios.get(`${this.$root.serverUrl}/movie/popular`)
      this.populars = res.data
    }
  }
}
</script>
<style lang="scss" scoped>
  @import '../App';
  @include xs {
    .row { padding: .5em }
  } 
</style>
