<template>
  <v-container class="upcomin-container">
    <h3 class="white--text mb-4 font-weight-bold">Próximamente</h3>
    <v-row>
        <v-col cols="12" md="3" v-for="movie in movies" :key="movie.id">
            <v-card tile hover>
                <v-img :src="`${$root.urlImagesResize}${movie.backdrop_path}`" class="pa-4">
                    <v-img max-width="95px" src="@/assets/liteflix.png"></v-img>
                </v-img>
            </v-card>
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
const axios = require('axios')
export default {
  name: 'upcoming',
  data () {
    return {
      movies: []
    }
  },
  mounted () {
    this.getMovies()
  },
  methods: {
    async getMovies () {
      const res = await axios.get(`${this.$root.serverUrl}/movie/upcoming`)
      this.movies = res.data
    }
  }
}
</script>
<style lang="scss" scoped>
  .upcomin-container {
    margin-top: -7em;
  }
</style>
