<template>
  <v-app>
    <v-app-bar class="d-flex d-sm-none" app color="transparent" flat absolute>
        <v-app-bar-nav-icon color="white" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        <v-img max-width="95px" src="@/assets/liteflix.png"></v-img>
        <v-spacer></v-spacer>
    </v-app-bar>
    <v-app-bar class="header-full" app color="transparent" flat absolute>
      <v-container class="d-flex align-center justify-space-between">
        <div class="d-flex align-center">
          <v-img max-width="95px" class="mr-5" src="@/assets/liteflix.png"></v-img>
          <v-btn class="custom-transform-class text-none font-weight-bold" color="white" text>Inicio</v-btn>
          <v-btn class="custom-transform-class text-none" color="white" text>Series</v-btn>
          <v-btn class="custom-transform-class text-none" color="white" text>Películas</v-btn>
          <v-btn class="custom-transform-class text-none" color="white" text>Agregados recientemente</v-btn>
          <v-btn class="custom-transform-class text-none" color="white" text>Mi lista</v-btn>
          <v-btn 
            class="custom-transform-class text-none white--text" 
            color="red" rounded 
            @click="modalNewMovie = !modalNewMovie"
          >
          <v-icon left>mdi-plus</v-icon>
            Agregar película
          </v-btn>
        </div>
        <div>
          <v-btn class="custom-transform-class text-none" color="white" text>Niños</v-btn>
          <v-btn text><v-img max-width="16px" class="mr-2 bell" src="@/assets/bell.svg"></v-img></v-btn>
          <v-menu bottom left open-on-hover offset-y>
            <template v-slot:activator="{ on }">
              <v-btn text v-on="on">
                <v-img max-width="16px" class="mr-2" src="@/assets/user-01.png"></v-img>
                <v-img max-width="16px" class="mr-2" src="@/assets/arrow.svg"></v-img>
              </v-btn>
            </template>

            <v-list class="pa-2">
              <v-list-item class="pa-0">
                <div class="menu-container">
                  <div class="avatar avatar--active">
                    <v-img src="@/assets/icon-profile.png" max-width="10px"></v-img>
                  </div>
                  <span>Ernesto Garmendia</span>
                </div>
              </v-list-item>
              <v-list-item class="pa-0">
                <div class="menu-container">
                  <div class="avatar">
                    <v-img src="@/assets/fill-1_grey.svg" max-width="10px"></v-img>
                  </div>
                  <span>User 03</span>
                </div>
              </v-list-item>
              <v-list-item class="pa-0">
                <div class="menu-container">
                  <div class="avatar">
                    <v-img src="@/assets/fill-1_grey.svg" max-width="10px"></v-img>
                  </div>
                  <span>User 04</span>
                </div>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>Configuración</v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item>
                <v-list-item-title>Ayuda</v-list-item-title>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item>
                <v-list-item-title class="font-weight-bold">Log Out</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-container>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" absolute color="black">
      <div class="d-flex align-center pa-2">
        <v-app-bar-nav-icon color="white" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-img class="ml-2" max-width="95px" src="@/assets/liteflix.png"></v-img>
      </div>
      <div class="pa-4">
        <div class="profile-container">
          <div class="avatar">
            <v-img src="@/assets/icon-profile.png" max-width="13px"></v-img>
          </div>
          <span class="profile-container__name">Ernesto Garmendia</span>
        </div>

        <v-list nav dense class="my-5 pa-0">
          <v-list-item>
            <v-list-item-title class="white--text">Cambiar Usuario</v-list-item-title>
          </v-list-item>
          <v-divider color="#222222"></v-divider>
          <v-list-item>
            <v-list-item-title class="white--text">Configuraciónar</v-list-item-title>
          </v-list-item>
          <v-divider color="#222222"></v-divider>
          <v-list-item>
            <v-list-item-title class="white--text">Ayuda</v-list-item-title>
          </v-list-item>
          <v-divider color="#222222"></v-divider>
        </v-list>

        <v-list nav dense class="my-5 pa-0">
          <v-subheader class="white--text">
            <v-img max-width="16px" class="mr-2 bell" src="@/assets/bell.svg"></v-img>
            <span>Novedades</span>
          </v-subheader>
          <v-list-item>
            <v-list-item-title class="white--text">Series</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title class="white--text">Películas</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title class="white--text">Mi lista</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title class="white--text">Niños</v-list-item-title>
          </v-list-item>
        </v-list>

        <v-btn 
          color="red" rounded width="100%" 
          class="white--text custom-transform-class text-none" 
          @click="modalNewMovie = !modalNewMovie"
        >
          <v-icon left>mdi-plus</v-icon>
          Agregar película
        </v-btn>

        <v-btn text class="my-5 pa-0 white--text custom-transform-class text-none">Log Out</v-btn>
      </div>
    </v-navigation-drawer>

    <v-main>
      <router-view/>
    </v-main>

    <new-moview></new-moview>

  </v-app>
</template>

<script>

export default {
  name: 'App',
  data()  {
    return {
      drawer: false
    }
  },
  components: {
    'new-moview': () => import(/* webpackChunkName: "NewMovie" */ "@/components/NewMovie")
  },
  computed: {
    modalNewMovie: {
      get() {
        return this.$store.getters['getModalNewMovie'];
      },
      set(newValue) {
        this.$store.commit('setModalNewMovie', newValue);
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import 'App';
  .header-full {
    @include xs { display: none; }
  }
  .menu-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2em;
    padding: .5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 13em;
    &:hover {
      box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
      cursor:pointer;
    }
  }
  .avatar {
    background: #9b9b9b;
    padding: .5em;
    border-radius: 50%;
    margin-right: 1em;
    &--active { background: #ce00ff}
  }
  .profile-container {
    display: flex;
    align-items: center;
    background: rgba(255,255,255, 0.2);
    color: white;
    padding: .5em;
    border-radius: 2em;
    &__name {
      color: white;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
  .bell:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 10px;
    top: 0px;
    right: 0;
    background-image: radial-gradient(circle at center, red 5px, transparent 5px), radial-gradient(circle at center, red 5px, transparent 5px);
    background-size: 8px 8px;
    background-position: top center;
    background-repeat: no-repeat;
  }
</style>
